
body {
    margin: 0;
    color: black;
    border: 1px solid red;
}
.coupons {
    display: flex;
    flex-direction: column;
}
.coupon {
    width: 90vw;
    border: 3px dashed black;
    display: grid;
    grid-template: 4vw 30px 50px auto auto 4vw / 4vw 50vw 2vw 30vw 4vw;
    align-items: start;
    margin: 1em auto;
}
.coupon-logo {
    grid-row: 2/3;
    grid-column: 2;
    object-fit: cover;
    height: 100%;
    justify-self: left;
}
.coupon-img {
    grid-row: 2/4;
    grid-column: 4/-2;
    object-fit: cover;
    width: 100%;
    height: 100%;
    justify-self: right;
}
.coupon-title {
    grid-row: 3/5;
    grid-column: 2;
    font-size: 1.75rem;
    text-transform: uppercase;
}

.coupon-body {
    grid-row: 4;
    grid-column: 4/-2;
    font-size: .75rem;
    justify-self: right;
}
.coupon-condition {
    grid-row: 5;
    grid-column: 2;
    font-size: .5rem;
    align-self: start;
    margin: 0;
}

.coupon-btn {
    grid-row: 5;
    grid-column: 4/-2;
    text-decoration: none;
    border: 1px solid black;
    color: white;
    background: black;
    padding: .5em 1.5em;
    align-self: start;
    font-size: .75rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

@media (min-width: 800px) {
    .coupons {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .coupon {
        width: 45vw;
        grid-template: 1vw 30px 50px auto auto 1vw / 1vw 26vw 1vw 15vw 1vw;
    }
}