body {
    margin: 0 auto;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Raleway', sans-serif;
}
/* ----RESERVATION PAGE ----
---------------------------- */

.reservation-container {
    color: black;
    display: flex;
    flex-direction: column;
    max-width: 100vw;
}
/* ----RESERVATION PAGE ----
--------INTRO PART --------- */
.intro {
    min-height: 60vh;
    background-image: url(images/victoria-shes-wSh0Exrb62g-unsplash.jpg);
    background-color: #818181;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode:multiply;
    color: rgb(245, 244, 244);
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .5em;
}
.intro *{
    margin-left: auto;
    margin-right: auto;
}
.intro-logo {
    width: 6em;
    object-fit: cover;
}
.intro-h1{
    max-width: 70%;
    font-size: 2.2rem;
    font-weight: 600;
}
.intro-h1 p {
    margin:0;
}
.intro>p {
    font-weight: 600;
    font-size: .75rem;
    letter-spacing: .1em;
}

/* ----RESERVATION PAGE ----
------MAIN CONTENT PART --- */
.reservation-main-content {
    width: 100%;
    text-align: center;
    font-size: 1rem;
    margin: 0 auto;
    background-color: black;
background: radial-gradient(circle, rgba(92,92,92,1) 41%, rgba(0,0,0,1) 89%);
}
.reservation-form {
    max-width: 400px;
    margin: 2em auto;
    padding: 1.5em;
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
}
.reservation-form h2 {
    margin: 0;
    font-size: 2rem;
}
.reservation-form>p {
    margin: .5em 0;
    font-size: .75rem;
    letter-spacing: 1px;
}
/* ----RESERVATION PAGE ----
------ -INPUT & SUBMIT-------- */
label {
    font-size: .65rem;
}
input {
    border-style: none;
    background-color:white;
    border: .1px solid gray;
    height: 2em;
    margin: .25em 0;
}
input[type=number] {
    height: 1.82em;
}

.reserv-time-form {
    margin: 1em auto;
    max-width: 350px;
    /* padding: 0 2em; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}
.reserv-contact-form {
    margin-bottom: 1em;
}
.input-contact-form {
    width: 49%;
    text-align: center;
    font-size: .75rem;
}
.input-request {
    height: 5em;
}
.reserve-btn {
    font-family: 'Raleway', sans-serif;
    border-radius: 5px;
    border: .5px solid gray;
    background-color: rgb(59, 59, 59);
    color: white;
    padding: .25em 1.5em;
    cursor: pointer;
    width: 50%;
    height: 2.75em;
}
.reserve-btn:hover,
.reserve-btn:focus {
    background-color: rgb(7, 7, 7);
}


/* ----RESERVATION PAGE ----
--------CONTACT INFO-------- */
.contact-time{
    color: white;
}
.resto-contact-time-info{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 1em 0;
}
.resto-contact{
    width: 47%;
    padding-right: 1em;
    /* border: 1px solid red; */
}
.resto-time {
    width: 47%;
    border-left: 3px solid white;
    padding-left: 1em;
}
.resto-contact-time-info h3 {
    margin: 0 0 0.5em;
    font-size: 1.2rem;
}
.resto-contact-time-info p {
    margin: 0.1em;
    font-size: .75rem;
}
.resto-contact-icon {
    margin: .25em;
    width: 1em;
    object-fit: cover;
}
.tripadvisor-icon{
    width: 1.2em;
}
.resto-contact-icons a {
    text-decoration: none;
}

@media (min-width: 850px) {
    .reservation-container {
        flex-direction: row;
    }
    .intro {
        width: 70%;
        min-height: 100vh;
    }
    .intro-h1{
        font-size: 3rem;
    }
    .reservation-form {
        width: 70%;
    }
    .reservation-main-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .resto-contact-time-info{
        width: 70%;
        max-width: 400px;
    }
}