body {
    margin: 0 auto;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Raleway', sans-serif;
}
/* ----RESERVATION PAGE ----
---------------------------- */

.reservation-container {
    color: black;
    display: flex;
    flex-direction: column;
    max-width: 100vw;
}
/* ----RESERVATION PAGE ----
--------INTRO PART --------- */
.intro {
    height: 60vh;
    background-image: url(images/maddi-bazzocco-qKbHvzXb85A-unsplash.jpg);
    background-color: #818181;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode:multiply;
    color: rgb(245, 244, 244);
    background-size: cover;
    text-align: center;

}
.intro-logo {
    width: 6em;
    object-fit: cover;
    margin-top: .5em;
}
.intro-h1{
    max-width: 70%;
    font-size: 2.2rem;
    font-weight: 600;
    margin: 2em auto;
    text-align: center;
}
.intro-h1 p {
    margin: 0;
}

/* ----RESERVATION PAGE ----
------MAIN CONTENT PART --- */
.reservation-main-content {
    width: 100%;
    text-align: center;
    font-size: 1rem;
}

/* ----RESERVATION PAGE ----
------ -INPUT & SUBMIT-------- */
input {
    border-style: none;
    background-color:rgba(144, 150, 173, 0.184);
    border-radius: 5px;
    height: 1.5em;
    margin: .25em 0;
}
input[type=number] {
    height: 1.3em;
}

.reserv-time-form {
    margin: auto;
    width: 70%;
    /* padding: 0 2em; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}
.reserv-contact-form {
    margin-bottom: 1em;
}
.input-contact-form {
    width: 50%;
}
.resto-contact-icon {
    width: 1.5em;
    object-fit: cover;
}